.slider img{
    margin: 0 auto;
    max-width: 800px;
    min-height: 450px;
    background-color: rgb(182, 203, 222);
}
.slider {
    margin: 0 auto;
    text-align: center;
    max-width: 800px;
    min-height: 450px;
    background-color: #ccc
}

.hidden {
    display: none;
}

button {
    padding: 32px 18px;
}